*.o
*.dSYM
*.csv
*.out
*.so
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
build/darknet/*
!build/darknet/YoloWrapper.cs
.fuse*
unnecessary/
compare*/


# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
