*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
build/darknet/*
!build/darknet/YoloWrapper.cs
.fuse*
non_necessary/
compare_recycle/
compare_plate/
compare_coco80/


# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
