*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
build/darknet/*
!build/darknet/YoloWrapper.cs
.fuse*
unnecessary/
compare_*/


# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
